.page-title-area .title-content h2{
    font-weight: 400;
}
.rules-area .rules-item .inner h3{
    font-weight: 400;
}
.rules-area .rules-item .inner p{
    line-height: 20px;
    text-align: justify;
}